doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#21B3AC")
        title Bucket Admin

        link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,700", rel="stylesheet")
        link(rel="stylesheet", href="app.css")
    body
        // including the menu block
        include _partials/menu.pug

        // include the nav search
        include _partials/nav-search.pug

        // include the nav header
        include _partials/nav-header.pug

        main.container
            .cards
                .card
                    span.card-title
                        | Monthly Expense
                    .card-content
                        
                .card
                    span.card-title
                        | Daily Visitors
                    .card-content
                        
                .card
                    span.card-title
                        | Top Advertise
                    .card-content
                        
                .card
                    span.card-title
                        | Daily Sales
                    .card-content

            .graphs
                .graph
                    .graph-header
                        span.graph-title
                            | Earning Graph
                        ul.graph-list
                            li.graph-item
                                i.fa.fa-chevron-down
                            li.graph-item
                                i.fa.fa-circle-o
                            li.graph-item
                                i.fa.fa-times

            .infos
                .info
                    .info-header

                .info
                    .info-header

                .info
                    .info-header                        

        script(src="https://use.fontawesome.com/a402c200f1.js")
        script(src="app.js")