doctype html
html(lang="pt-br")
    head
        include _partials/head.pug

    body
        // including the menu block
        include _partials/menu.pug

        // include the nav search
        include _partials/nav-search.pug

        // include the nav header
        include _partials/nav-header.pug

        main.container
            .cards
                .card
                    span.card-title
                        | Monthly Expense
                    .card-content
                        
                .card
                    span.card-title
                        | Daily Visitors
                    .card-content
                        
                .card
                    span.card-title
                        | Top Advertise
                    .card-content
                        
                .card
                    span.card-title
                        | Daily Sales
                    .card-content

            .graphs
                .graph
                    .graph-header
                        span.graph-title
                            | Earning Graph
                        ul.graph-list
                            li.graph-item
                                i.fa.fa-chevron-down
                            li.graph-item
                                i.fa.fa-circle-o
                            li.graph-item
                                i.fa.fa-times

            .infos
                .info
                    .info-header.green
                        .infos
                            .info-date
                                | January 2018
                            .info-buttons
                                .info-button-group
                                    button Save
                        .info-chart
                            canvas(id="info-chart-green", height="50")

                .info
                    .info-header.red
                        .infos
                            .info-date
                                | February 2018
                            .info-buttons
                                .info-button-group
                                    button Save
                        .info-chart
                            canvas(id="info-chart-red", height="50")

                .info
                    .info-header.yellow
                        .infos
                            .info-date
                                | March 2018
                            .info-buttons
                                .info-button-group
                                    button Save
                        .info-chart
                            canvas(id="info-chart-yellow", height="50")
                        

        script(src="https://use.fontawesome.com/a402c200f1.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js",)
        script(src="app.js")