meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="theme-color", content="#21B3AC")
title Bucket Admin

link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,700", rel="stylesheet")
link(rel="stylesheet", href="app.css")