aside.menu
    section.menu-header
        span.menu-logo
            i.fa.fa-bitbucket
        a.menu-title 
            | Bucket Admin
    ul.menu-itens
        li.menu-item.active
            a(href="#") 
                i(class="fa fa-dashboard")
                | Dashboard
        li.menu-item
            a(href="#") 
                i(class="fa fa-laptop")
                | Layout
        li.menu-item                        
            a(href="#") 
                i(class="fa fa-book")
                | Ui Elements
        li.menu-item
            a(href="#") 
                i(class="fa fa-envelope-o")
                | Mail
