nav.header
    section.header-notifications
        ul.header-notifications-list
            li.header-notification-item.header-hide-menu.js-open-sidebar
                i.fa.fa-bars
            li.header-notification-item
                i.fa.fa-credit-card
                span.badge.green 1
            li.header-notification-item
                i.fa.fa-envelope-o
                span.badge.red 2
            li.header-notification-item
                i.fa.fa-bell-o
                span.badge.yellow 3
    section.header-profile
        ul.header-profile-list
            li.header-profile-item.header-profile-item-search
                i.fa.fa-search                        
            li.header-profile-item
                i.fa.fa-user