.cards {
    width: 100%;
    display: flex;
    justify-content: center;

    .card {
        width: 100%;
        background: #fff;
        padding: 10px;
        text-align: center;
        margin: 10px;
        border-radius: 3px;

        .card-title {
            text-transform: uppercase;
            font-weight: bold;
            color: #ddd;
        }
    }
}