.infos {
    display: flex;

    .info {
        width: 100%;
        margin: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        background: darken(white, 2);

        .info-header {
            padding: 10px;
            width: 100%;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            &.green {
                background: $lightgreen;
            }

            &.red {
                background: $red;
            }

            &.yellow {
                background: $yellow;
            }

            .infos {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .info-date {
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
}