.search {
    position: fixed;
    top: -76px;
    background: $white;
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1005;
    transition: top .3s;
    padding: 0 20px;

    input {
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        color: darken(#898989, 2);
        height: 40px;
        width: 96%;
        font-size: 1.8em;
    }

    &.active {
        top: 0;
    }

    @media(min-width: 992px) {
        left: 20%;
        width: 80%;
    }
}