// colors
$green: #21B3AC;
$grey: #85858D;
$activeGrey: #29282E;
$body: #EEF1F8;
$white: #fff;
$purple: #9972B5;
$red: #E85D5C;
$yellow: #FCB921;
$lightgreen: #B0D775;

// fonts
$font: 'Ubuntu', sans-serif;